<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="raffler.css" media="screen">
    
</head>
<body>
<header id="header">
<h1>Raffler</h1>
 </header>     
<section id="raffler">      
          <div id="container">
           
          <div>
          </div>
         
          </div>
     
   
   </section>      
<script type="text/template" id="item-template">
    <div>
	<input type="text" id="new_entry"/>
    <button id="new">Add</button>
	<button id="draw"> Draw Winner</button>
	<button id="reset"> Reset Winner</button>
      <% _.each(entries, function(entry, winner){ %>
            <li id="abc"><%- entry.name %><span class="entry-winner"><% if (entry.winner!==false) { %>WINNER<% } %></span></li>
      <% }); %>
    </div>
 </script>
   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js" type="text/javascript"></script>
<script src="js/lib/backbone.localStorage.js"></script>
<script src="raffler3.js"></script>
</body>
</html>